version: "3.8"

services:
  db:
    image: mariadb:10.4.24
    container_name: firemap_db
    restart: on-failure
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    volumes:
      - blogdb_data:/var/lib/mysql
    ports:
      - "3306:3306"

volumes:
  db_data: